%flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

%grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

%section-container {
  width: 100%;
  height: 50vh;
}
